Options +FollowSymLinks
Options +MultiViews
RewriteEngine On

#RewriteBase /
#RewriteCond %{REQUEST_URI} !^/contents/
#RewriteCond %{HTTP_HOST} ^(www\.)?contents.cesnuria\.
#RewriteRule ^(.*)$ /contents/$1 [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

