.canasta1{
	width:135px;
	height:130px;
	float:left;
	border:2px solid white;
	z-index: 1;


	border:1px solid #000;
	border-bottom: 0.5px solid #000;
}
#naranja{
	background-image: url("imgjuego1/naranjas.png");
}
#gris{
	background-image: url("imgjuego1/grises.png");
}
#yellow{ 
	background-image: url("imgjuego1/amarillos.png");
}
#azul{
 	background-image: url("imgjuego1/blanco.png");
}
#blanco{
	background-image: url("imgjuego1/verdes.png");
}

#caja1{
text-align:center;	
width:100%;
margin-left:5%;
display:flex;
z-index:;
justify-content: center;
}
#spawn{
text-align:center;	
width:100%;
margin-left:5%;
display:flex;
z-index:;
justify-content: center;
	
}
